<nav class="footer__nav">
    <a class="footer__link" href="/about.html">Om oss</a>
    <a class="footer__link" href="/about.html">Priser</a>
    <a class="footer__link" href="/about.html">Kontakt</a>
    <a class="footer__link" href="/about.html">Integritets- och säkerhetspolicy</a>
    <a class="footer__link" href="https://blogg.yh-antagning.se/">Blogg</a>
    <a class="footer__link" href="https://admin.yh-antagning.se/">Inloggning för administratörer</a>
    <a class="footer__link" href="https://apply.yh-antagning.se/">Till din ansökan</a>
</nav>

<div class="footer__end">

    <p><a href="mailto:support@yh-antagning.se">support@yh-antagning.se</a></p>
    <p>Learnpoint AB</p>

</div>