<nav class="header__nav">
    <div class="header__logo">
        <a href="/">
            <!-- icon.svg -->
            <span>YH-antagning</span>
        </a>
    </div>
    <div class="header__links">
        <a class="header__link" href="https://admin.yh-antagning.se/">
            <span class="header__link-desktop">Inloggning för administratörer</span>
            <span class="header__link-mobile">Admin-inloggning</span>
        </a>
        <a class="header__apply-link" href="https://apply.yh-antagning.se/">
            <span class="header__apply-link-desktop">Till din ansökan</span>
            <span class="header__apply-link-mobile">Din ansökan</span>
        </a>
    </div>
</nav>