/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    margin: 4em 0;
    padding: 2em 0 5em;
    border-top: 1px solid #ccc;
}



/* ==========================================================================
   Logo
   ========================================================================== */

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.footer__logo svg {
    display: block;
    color: hsl(210deg 77% 40%);
    width: 32px;
    height: auto;
}

.footer__logo span {
    display: block;
    font-weight: 600;
    color: #111;
    font-family: "Raleway", sans-serif;
}



/* ==========================================================================
   Nav
   ========================================================================== */

.footer__nav {
    display: flex;
    max-width: 800px;
    gap: 56px;
    justify-content: center;
    margin: 0 auto 1.4em;
}



/* ==========================================================================
   Icon
   ========================================================================== */

.footer__icon-link {
    color: hsl(210deg 77% 40%);
}

.footer__icon-link svg {
    width: 42px;
    height: 42px;
}



/* ==========================================================================
   Link
   ========================================================================== */

.footer__link {
    display: block;
    color: rgba(0, 0, 0, .8);
    font-size: .9em;
    padding: .04em;
    text-decoration: none;
}



/* ==========================================================================
   End
   ========================================================================== */

.footer__end {
    text-align: center;
    margin-bottom: 4em;
    font-size: 16px;
}

.footer__end p {
    margin: 0;
}

.footer__end a {
    color: inherit;
}
