/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    margin: 1em 0;
    padding: 2em 0 5em;
}



/* ==========================================================================
   Logo
   ========================================================================== */

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.footer__logo svg {
    display: block;
    color: hsl(210deg 77% 40%);
    width: 32px;
    height: auto;
}

.footer__logo span {
    display: block;
    font-weight: 600;
    color: #111;
    font-family: "Raleway", sans-serif;
}



/* ==========================================================================
   Nav
   ========================================================================== */

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 12px;
    justify-content: center;
    margin: 0 auto 2em;
}

.footer__link {
    color: #fff;
    color: #000;
    font-weight: 600;
    background-color: #000;
    background-color: hsl(210deg 77% 40%);
    background-color: #666;
    background-color: #e5e5e5;
    /* background-color: #fff; */
    border-radius: 32px;
    padding: 12px 30px 13px;
    text-decoration: none;
    line-height: 1;
}



/* ==========================================================================
   End
   ========================================================================== */

.footer__end {
    text-align: center;
    margin-bottom: 4em;
    font-size: 16px;
}

.footer__end p {
    margin: 0;
}

.footer__end a {
    color: inherit;
}
