<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <title>YH-antagning</title>
    <meta name="description" content="Trygg och Effektiv antagning för yrkeshögskolan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/_images/icon.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:wght@700&display=block" rel="stylesheet">

    <script src="/_scripts/utils.js"></script>
    <script src="/_scripts/is-mobile.js"></script>
    <script src="/_scripts/scrolled.js"></script>

    <link rel="stylesheet" href="/_styles/main.css" />
    <link rel="stylesheet" href="/_styles/header.css" />
    <link rel="stylesheet" href="/_styles/footer.css" />

    <link rel="stylesheet" href="/_styles/pages/index.css" />
    <link rel="stylesheet" href="/_styles/pages/about.css" />
</head>

<body>

    <header class="header">
        <!-- header.html -->
    </header>

    <main class="main">
        {{ content }}
    </main>

    <footer class="footer">
        <!-- footer.html -->
    </footer>

</body>

</html>
